<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <link id="style" rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h3 class="fontsize_title2 color-text1 margin_left20 margin_rightauto">Yanis</h3>
        <div class="bx bx-menu" id="menu-icon"></div>
        <div id="navbar" class="">
            <a class="fontsize_title2 color-text2 margin_right20">Accueil</a>
            <a class="fontsize_title2 color-text2 margin_right20">À propos</a>
            <a class="fontsize_title2 color-text2 margin_right20">Expériences</a>
            <a class="fontsize_title2 color-text2 margin_right20">Compétences</a>
            <a class="fontsize_title2 color-text2 margin_right20">Projets</a>
            <a class="fontsize_title2 color-text2 margin_right20">Contact</a>
            <a class="fontsize_title2 color-text2 margin_left40 button_cv" href="/static/cv.pdf">CV</a>
        </div>
    </header>

    <div class="main">
        <h1 class="writing" id="main_1">Bisounours</h1>
        <div id="desc1_container">
            <p class="flex_column">
            </p>
            <h1 class="margin_top30 fontsize_title color-text1">Yanis DAÏ</a></h1>
            <h2 class="fontsize_title2 fontw_100 color-text1">Étudiant en développement WEB</h2>
            <div class="height_50vh">
                <h2 class="fontsize_desc fontw_100 color-text2">
                    J'ai 20 ans et je suis actuellement étudiant en<br>
                    développement Web au <a class="color2">campus Ynov de Lille.</a><br>
                    Vous pouvez trouver ici des informations sur moi,<br>
                    mes compétences, mes différents projets et<br>
                    comment me contacter.
                </h2>
            </div>
        </div>
        <div class="margin_top30">
            <div id="pic_head"></div>
        </div>
        <div class="lightbar"></div>
    </div>

    <div class="main" style="justify-content: center">
        <div id="desc1_container">
            <p class="flex_column">
            </p>
            <h1 class="fontsize_title2 fontw_100 color-text1" style="margin-top: 10%;">À propos</h1>
            <div class="height_50vh">
                <h2 class="fontsize_desc fontw_100 color-text2">
                    Étudiant en développement Web en 2ème année <br>
                    Je m'appelle Yanis DAÏ, j'ai 20 ans et j'étudie le développement à <a class="color2">Lille Ynov
                        Campus.</a><br><br>
                    Je suis actuellement à la recherche d'un <a class="color3">stage de fin d'année</a> à Lille (1er
                    juillet au 16 août) ainsi
                    que d'une <a class="color3">alternance</a> pour ma 3ème année de Bachelor.<br><br>
                    Passionné par le développement en général, je suis à la recherche de nouvelles choses. Je porte
                    également un intérêt pour le Game Programming sur Unity.<br>
                    En ce moment, je travaille à côté des cours à Jules sur Wattrelos (24h/semaine) en parallèle des
                    cours.
                </h2>
            </div>
        </div>
        <div class="lightbar"></div>
    </div>
    <div class="main center">
        <section class="education" id="education">
            <div class="education-row">
                <div class="education-column">
                    <h1 class="margin_left40 fontsize_title2 fontw_100 color-text1">Formation</a></h1>
                    <div class="education-box">
                        <div class="education-content">
                            <div class="content">
                                <div class="year"><i class="bx bxs-calendar"></i> 2022 - 2025</div>
                                <p class="title">Bachelor Informatique - Développement - Lille Ynov Campus</p>
                                <p>Python, Go, JavaScript, TypeScript, PHP, Java, et C#</p>
                            </div>
                        </div>
                        <div class="education-content">
                            <div class="content">
                                <div class="year"><i class="bx bxs-calendar"></i> 2022</div>
                                <p class="title">Baccalauréat Général - Saint Rémi</p>
                                <p>Spécialités : Mathématiques, Informatique, Science de l'ingénieur</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="education-column">
                    <h1 class="margin_left40 fontsize_title2 fontw_100 color-text1">Experience</a></h1>
                    <div class="education-box">
                        <div class="education-content">
                            <div class="content">
                                <div class="year"><i class="bx bxs-calendar"></i>Oct. 2023 - A présent</div>
                                <p class="title">Préparateur de commandes - Jules - Wattrelos</p>
                                <p>Travail en logistique</p>
                            </div>
                        </div>
                        <div class="education-content">
                            <div class="content">
                                <div class="year"><i class="bx bxs-calendar"></i>Déc. 2022 - Sept. 2023</div>
                                <p class="title">Préparateur de commandes - Leclerc - Wattrelos</p>
                                <p>Préparateur de commandes au sein du drive</p>
                            </div>
                        </div>
                        <div class="education-content">
                            <div class="content">
                                <div class="year"><i class="bx bxs-calendar"></i>Aoùt 2022 - Oct. 2022</div>
                                <p class="title">Préparateur de commandes - Jules - Wattrelos</p>
                                <p>Travail en logistique</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="lightbar"></div>
    </div>
    <div class="main center" style="flex-direction: column;">
        <section class="projects">
            <div class="slides">
                <div class="content">
                    <img src="/static/cover.jpg" alt="cover" class="cover">
                    <div class="year"><i class="bx bxs-calendar"></i>2024</div>
                    <p class="title">Site d'apprentissage du langage python </p>
                    <p>Technologie utilisé : Python, HTML, CSS, JS, MySql, AWS</p>
                    <a class="clickme">Voir</a>
                </div>
                <div class="content">
                    <img src="/static/coverblindhub.png" alt="cover" class="cover">
                    <div class="year"><i class="bx bxs-calendar"></i>2024</div>
                    <p class="title">Site de BlindTest</p>
                    <p>Technologie utilisé : Python, HTML, CSS, JS, MySQL, AWS, SocketIO</p>
                    <a class="clickme">Voir</a>
                </div>
                <div class="content">
                    <img src="/static/coverhow.png" alt="cover" class="cover">
                    <div class="year"><i class="bx bxs-calendar"></i>2023</div>
                    <p class="title">Escape Game en coopération (How ?!)</p>
                    <p>Technologie utilisé : Unity, AWS, MySQL, NetCode</p>
                    <a class="clickme" href="https://www.youtube.com/watch?v=Z_WZ0Orbqj8">Voir</a>
                </div>
                <div class="content">
                    <img src="/static/cover.jpg" alt="cover" class="cover">
                    <div class="year"><i class="bx bxs-calendar"></i>2023</div>
                    <p class="title">Tower Defense</p>
                    <p>Technologie utilisé : Roblox Studio, Lua</p>
                </div>
                <div class="content">
                    <img src="/static/cover.jpg" alt="cover" class="cover">
                    <div class="year"><i class="bx bxs-calendar"></i>2022</div>
                    <p class="title">Création de plugin Minecraft</p>
                    <p>Technologie utilisé : Java, MySQL, VPS</p>
                </div>
            </div>
        </section>
        <div class="navigation">
            <img class="prev"
                src="data:image/svg+xml,%3Csvg width='77' height='77' viewBox='0 0 77 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.5 19.25L19.25 38.5L38.5 57.75' stroke='white' stroke-width='7'/%3E%3Cpath d='M57.75 19.25L38.5 38.5L57.75 57.75' stroke='white' stroke-width='7'/%3E%3C/svg%3E"
                alt="Précédent" onclick="prevSlide()">
            <img class="next"
                src="data:image/svg+xml,%3Csvg width='77' height='77' viewBox='0 0 77 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.5 57.75L57.75 38.5L38.5 19.25' stroke='white' stroke-width='7'/%3E%3Cpath d='M19.25 57.75L38.5 38.5L19.25 19.25' stroke='white' stroke-width='7'/%3E%3C/svg%3E"
                alt="Suivant" onclick="nextSlide()">
        </div>
        <div class="lightbar"></div>
    </div>

    <div class="main center" style="flex-direction: column;">
        <div class="contact-link">
            <a href="mailto: yan.dai@outlook.fr"><i class="bx bx-mail-send"></i></a>
            <a href="https://www.linkedin.com/in/yanis-da%C3%AF-834443257/" target="_blank"><i class="bx bxl-linkedin-square"></i></a>
            <a href="tel:+33646530903"><i class="bx bx-phone-call"></i></a>
        </div>
        <section class="contact">
            <h2 class="fontsize_title2 fontw_100 color-text1">Contactez-moi</h2>
            <form id="contact-form" action="#" method="POST">
                <div class="form-group">
                    <label for="name">Nom :</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message :</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit">Envoyer</button>
            </form>
        </section>
    </div>

    <script src="/static/main.js"></script>
</body>

</html>