<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <link id="style" rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <h3 class="fontsize_title2 color-text1 margin_left20 margin_rightauto">Yanis</h3>
        <div class="bx bx-menu" id="menu-icon"></div>
        <div id="navbar" class="">
            <a class="fontsize_title2 color-text2 margin_right20" href="/">Accueil</a>
            <a class="fontsize_title2 color-text2 margin_right20" href="#Accueil">À propos</a>
            <a class="fontsize_title2 color-text2 margin_right20" href="#Organigramme">Organigramme</a>
            <a class="fontsize_title2 color-text2 margin_right20" href="#Realisation">Réalisation</a>
            <a class="fontsize_title2 color-text2 margin_right20" href="#Conclusion">Conclusion</a>
            <a class="fontsize_title2 color-text2 margin_right20" href="/#Contact">Contact</a>
        </div>
    </header>

    <div class="main" id="Accueil">
        <h1 class="writing" id="main_1"></h1>
        <div id="desc1_container">
            <p class="flex_column">
            </p>
            <h1 class="margin_top30 fontsize_title color-text1">Customs Bridge</h1>
            <h2 class="fontsize_title2 fontw_100 color-text1">Qu'est ce que Customs Bridge ?</h2>
            <div class="height_50vh">
                <h2 class="fontsize_desc fontw_100 color-text2">
                    Chez <a class="color2">Customs Bridge</a>, nous développons des <a class="color2">solutions
                        douanières</a> innovantes grâce aux nouvelles technologies et à <a class="color2">l'intelligence
                        artificielle</a>.<br>
                    Notre <a class="color2">application SaaS</a> aide les opérateurs du <a class="color2">commerce
                        international</a> à gérer efficacement les enjeux financiers et réglementaires des <a
                        class="color2">formalités douanières</a>.<br>
                    Découvrez ici comment nous simplifions la <a class="color2">conformité</a> et l'<a
                        class="color2">opérationnel</a> pour toutes les entreprises confrontées à la problématique
                    douanière.
                </h2>
            </div>
        </div>
        <div class="margin_top30">
            <div id="pic_logo"></div>
        </div>
        <div class="lightbar"></div>
    </div>

    <div class="main" id="Organigramme">
        <div class="center_text organigramme">
            <h1 class="fixed-title fontsize_title color-text1 margin_rightauto">Organigramme</h1>
            <div class="carousel">
                <div class="carousel-track-container">
                    <div class="carousel-track">
                        <div class="carousel-slide"></div>
                        <div class="carousel-slide"></div>
                        <div class="carousel-slide">
                            <h2 class="fontsize_title2 fontw_100 color2">Nos co-fondateurs</h2>
                            <div class="flex_row">
                                <div class="flex_column">
                                    <div class="pic_organigramme" id="pic_1"></div>
                                    <p class="title">Loïc Poisot</h2>
                                    <p>CEO</h2>
                                </div>
                                <div class="flex_column">
                                    <div class="pic_organigramme" id="pic_2"></div>
                                    <p class="title">Charles Devaux</h2>
                                    <p>Directeur commercial</h2>
                                </div>
                                <div class="flex_column">
                                    <div class="pic_organigramme" id="pic_3"></div>
                                    <p class="title">Dr. Hamza Saouli</h2>
                                    <p>Directeur innovations</h2>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-slide">
                            <h2 class="fontsize_title2 fontw_100 color2 margin_rightauto">Notre équipe technique
                            </h2>
                            <div class="flex_row">
                                <div class="flex_column">
                                    <div class="pic_organigramme" id="pic_4"></div>
                                    <p class="title">Nolan Malherbe</h2>
                                    <p>Développeur Front-end</h2>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-slide">
                            <h2 class="fontsize_title2 fontw_100 color2 margin_rightauto">Notre équipe commerciale /
                                communication</h2>
                            <div class="flex_row">
                                <div class="flex_column">
                                    <div class="pic_organigramme" id="pic_5"></div>
                                    <p class="title">Manuel Remy</h2>
                                    <p>Ingénieur commercial</h2>
                                </div>
                                <div class="flex_column">
                                    <div class="pic_organigramme" id="pic_6"></div>
                                    <p class="title">Lisa Wirtz</h2>
                                    <p>Conseillère commerciale douane</h2>
                                </div>
                                <div class="flex_column">
                                    <div class="pic_organigramme" id="pic_7"></div>
                                    <p class="title">Hélène Duriez</h2>
                                    <p>Directrice com' & market'</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-button carousel-button-left">
            <</button>
                <button class="carousel-button carousel-button-right">></button>
                <div class="lightbar"></div>
    </div>

    <div class="main" id="Realisation">
        <div class="center_text organigramme">
            <h1 class="fixed-title fontsize_title color-text1 margin_rightauto">Réalisation</h1>
            <div class="carousel">
                <div class="carousel-track-container">
                    <div class="carousel-track" id="TrackProjects">
                        <div class="carousel-slide">
                            <div class="article-content">
                                <h2 class="article-title">Mon arrivée dans l'équipe et première semaine d'intégration
                                </h2>
                                <p class="article-text">
                                    Le 1er juillet 2024, j'ai commencé mon stage dans une entreprise spécialisée dans le
                                    développement web et l'hébergement cloud. Dès mon arrivée, j'ai été accueilli
                                    chaleureusement par l'équipe, et j'ai rapidement pris mes marques. On m'a présenté
                                    les différents membres de l'équipe, ainsi que leurs rôles respectifs dans les
                                    projets en cours.
                                </p>
                                <p class="article-text">
                                    Mon premier jour a été dédié à la configuration de mes outils de travail. J'ai
                                    installé un environnement de dual-boot Windows-Ubuntu pour bénéficier des avantages
                                    des deux systèmes. J'ai également configuré des logiciels comme GitLab pour la
                                    gestion du code source, DBeaver pour manipuler des bases de données PostgreSQL, et
                                    Element, un outil de communication sécurisé.
                                </p>
                            </div>
                        </div>

                        <div class="carousel-slide">
                            <div class="article-content">
                                <h2 class="article-title">Premiers défis techniques et développement avec Airflow</h2>
                                <p class="article-text">
                                    Au cours de la deuxième semaine de mon stage, j'ai commencé à m'impliquer plus
                                    activement dans le projet principal. J'ai été chargé de modifier le code d'Airflow
                                    pour gérer la conversion d'images vers le format AVIF.
                                </p>
                                <p class="article-text article-highlight">
                                    Cette tâche m'a demandé une compréhension approfondie des bibliothèques de
                                    traitement d'images et des spécifications AVIF.
                                </p>
                                <p class="article-text">
                                    J'ai également dû faire face à un défi d'intégration : faire fonctionner
                                    simultanément des fonctionnalités d'upload vers deux serveurs d'hébergement, OVH et
                                    Infomaniak. Malheureusement, des bugs sont apparus lors de la mise en production, ce
                                    qui m'a contraint à revenir à la version précédente du code pour ajuster mon
                                    approche.
                                </p>
                            </div>
                        </div>

                        <div class="carousel-slide">
                            <div class="article-content">
                                <h2 class="article-title">Refonte de l'upload et migration vers l'object storage</h2>
                                <p class="article-text">
                                    Le 8 juillet, après avoir analysé les erreurs survenues lors de la mise en
                                    production, j'ai entrepris une refonte complète de la fonction d'upload. J'ai opté
                                    pour une approche plus traditionnelle afin de garantir une exécution stable et
                                    cohérente. Après plusieurs essais, la nouvelle version de la fonction a finalement
                                    été mise en production avec succès.
                                </p>
                                <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDZlNmduaTMxNng3bzk1MWxpaHJ2OWNtYmh4YXJ0bmE2OWtwdmd0OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VJY3zeoK87CLBKnqqm/giphy.webp"
                                    alt="Migration vers l'object storage" class="article-image">
                                <p class="article-text">
                                    Une des étapes les plus importantes de cette semaine a été la migration du système
                                    de stockage d'images vers un "object storage". Cela a permis d'améliorer les
                                    performances et la fiabilité du système. Parallèlement, j'ai développé un script
                                    permettant de migrer la base de données sans interruption. Cette migration a permis
                                    de garantir une continuité dans l'utilisation du système, tout en optimisant la
                                    gestion des images et des fichiers.
                                </p>
                            </div>
                        </div>

                        <div class="carousel-slide">
                            <div class="article-content">
                                <h2 class="article-title">Amélioration du back-end et gestion de la base de données</h2>
                                <p class="article-text">
                                    Durant la semaine du 10 au 12 juillet, je me suis concentré sur la refonte du schéma
                                    de la base de données. L'objectif était d'adapter le back-end aux nouvelles
                                    exigences du projet, notamment en intégrant les changements liés à l'object storage.
                                </p>

                                <p class="article-text">
                                    J'ai étudié en profondeur SQLAlchemy, l'outil de gestion de base de données utilisé
                                    dans l'équipe <a class="zoom-icon" url="/static/avant.png">🔎</a>, et modifié les
                                    requêtes pour qu'elles soient compatibles avec les
                                    nouvelles tables <a class="zoom-icon" url="/static/apres.png">🔎</a>.
                                </p>
                                <p class="article-text article-highlight">
                                    J'ai également travaillé sur les permissions des utilisateurs en créant des comptes
                                    spécifiques dotés des droits appropriés pour tester les requêtes.
                                </p>
                                <p class="article-text">
                                    Cela m'a permis de valider les modifications apportées au schéma de la base de
                                    données et d'assurer la transition vers un système plus performant et sécurisé.
                                </p>
                            </div>
                        </div>

                        <div class="carousel-slide">
                            <div class="article-content">
                                <h2 class="article-title">Optimisation de l'object storage et résultats obtenus</h2>
                                <p class="article-text">
                                    La dernière phase de mon stage a été dédiée à l'optimisation de l'object storage.
                                    Une fois toutes les images converties au format AVIF, j'ai pu observer une réduction
                                    significative de l'espace occupé sur les serveurs OVH et Infomaniak.
                                </p>
                                <p class="article-text article-highlight">
                                    Par exemple, le répertoire "customs-data" est passé de 42 Go à 23 Go, et "user-data"
                                    de 6,44 Go à 5 Go. Cela représente une économie totale de 28 Go sur l'infrastructure
                                    de production. <a class="zoom-icon" url="/static/os.png">🔎</a>
                                </p>
                                <p class="article-text">
                                    En parallèle, j'ai mis en place un serveur de backup qui a permis de sécuriser
                                    toutes les données importantes. J'ai également finalisé l'intégration des nouvelles
                                    URL et des hash dans la base de données en production. La suppression des anciennes
                                    images a permis de libérer encore plus d'espace, contribuant ainsi à une meilleure
                                    efficacité du système.
                                </p>
                            </div>
                        </div>

                        <div class="carousel-slide"></div>

                        <div class="carousel-slide"></div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-button carousel-button-left" id="prevButtonProjects">
            <</button>
                <button class="carousel-button carousel-button-right" id="nextButtonProjects">></button>
                <div class="lightbar"></div>
    </div>

    <div class="main" id="Conclusion" style="justify-content: center; align-items: center;">
        <div id="desc1_container" style="justify-content: center; align-items: center; width: 90%;">
            <h1 class="fontsize_title2 fontw_100 color-text1">Conclusion</h1>
            <div class="height_50vh">
                <p class="article-text">Au terme de ce stage, je constate avec satisfaction les progrès réalisés tant
                    sur le plan technique
                    que professionnel. Mon immersion dans l'équipe a permis une compréhension approfondie du projet en
                    cours et m'a offert l'opportunité de contribuer de manière significative à son développement.</p>

                <p class="article-text">Au cours de la première semaine, l'intégration initiale et la prise en main des
                    outils de
                    développement ont jeté les bases de mon travail. La modification du code Airflow pour la conversion
                    d'images, ainsi que l'intégration des fonctionnalités d'upload, ont représenté des défis importants,
                    mais ont également été l'occasion d'apprendre et de développer de nouvelles compétences. Les
                    problèmes rencontrés lors de la mise en production ont été résolus grâce à une approche méthodique,
                    aboutissant à une solution robuste.</p>

                <p class="article-text">La deuxième semaine a été marquée par des améliorations significatives,
                    notamment la refonte du
                    système de stockage des images et des liens, ainsi que l'optimisation des processus de migration de
                    données. L'acquisition d'une compréhension approfondie de SQLAlchemy et des opérations sur les bases
                    de données a été cruciale pour mener à bien ces tâches.</p>

                <p class="article-text">Les semaines suivantes ont été consacrées à la mise en production des
                    corrections et à l'optimisation
                    des systèmes de stockage, ce qui a abouti à une réduction significative de l'espace utilisé et une
                    amélioration notable des performances.</p>

                <p class="article-text">Je suis particulièrement ravi d'annoncer que mes contributions ont été reconnues
                    par l'équipe, et
                    <a class="color2">j'ai été sélectionné pour poursuivre mon parcours au sein de l'entreprise en tant
                        qu'alternant</a>.
                    Cette opportunité témoigne de la valeur ajoutée apportée durant ce stage et constitue un socle
                    solide pour mes futures ambitions professionnelles.
                </p>

                <p class="article-text">En conclusion, ce stage a été une expérience enrichissante et formatrice, me
                    permettant de mettre en
                    pratique mes connaissances théoriques et d'acquérir une expertise précieuse dans la gestion et
                    l'optimisation des systèmes informatiques. Je suis reconnaissant pour les opportunités offertes par
                    l'équipe et pour le soutien tout au long de cette période. <a class="color2">Je suis enthousiaste à
                        l'idée de
                        continuer à évoluer au sein de l'entreprise et de contribuer davantage à ses projets futurs.</a>
                </p>
            </div>
        </div>
        <div class="lightbar"></div>
    </div>

    <div class="image-popup" id="imagePopup">
        <span class="close-popup">&times;</span>
        <img class="popup-content" id="popupImage">
    </div>



    <script>
        const track = document.querySelector('.carousel-track');
        const trackProjects = document.querySelector('#TrackProjects');

        const slides = Array.from(track.children);
        const slidesProjects = Array.from(trackProjects.children);

        const nextButton = document.querySelector('.carousel-button-right');
        const nextButtonProjects = document.querySelector('#nextButtonProjects');

        const prevButton = document.querySelector('.carousel-button-left');
        const prevButtonProjects = document.querySelector('#prevButtonProjects');

        let currentSlide = 0;
        let currentSlideProjects = 0;

        // Recalculer la largeur des slides
        function getSlideWidth() {
            return slides[0].getBoundingClientRect().width;
        }

        // Function to move to a specific slide
        function moveToSlide(track, currentSlide) {

            let amountToMove = 0;
            if (currentSlide === 0) {
                amountToMove = 0;

            } else {
                amountToMove = getSlideWidth() * currentSlide;
            }
            track.style.transform = `translateX(-${amountToMove}px)`;
        }

        function moveToSlideProjects(trackProjects, currentSlideProjects) {

            let amountToMoveProjects = 0;
            if (currentSlideProjects === 0) {
                amountToMoveProjects = 0;

            } else {
                amountToMoveProjects = getSlideWidth() * currentSlideProjects;
            }
            trackProjects.style.transform = `translateX(-${amountToMoveProjects}px)`;
        }

        // Initialisation pour être sûr que ça commence sur la première slide
        moveToSlide(track, currentSlide);  // Ajoute cette ligne pour être sûr que ça commence à la première diapositive
        moveToSlideProjects(trackProjects, currentSlideProjects);  // Ajoute cette ligne pour être sûr que ça commence à la première diapositive

        // Next button event
        nextButton.addEventListener('click', () => {
            if (currentSlide < slides.length - 3) {
                currentSlide++;
                moveToSlide(track, currentSlide);
            } else {
                currentSlide = 0;
                moveToSlide(track, currentSlide);
            }
        });

        nextButtonProjects.addEventListener('click', () => {
            if (currentSlideProjects < slidesProjects.length - 3) {
                currentSlideProjects++;
                moveToSlideProjects(trackProjects, currentSlideProjects);
            } else {
                currentSlideProjects = 0;
                moveToSlideProjects(trackProjects, currentSlideProjects);
            }
        });

        // Previous button event
        prevButton.addEventListener('click', () => {
            if (currentSlide > 0) {
                currentSlide--;
                moveToSlide(track, currentSlide);
            } else {
                currentSlide = slides.length - 3;
                moveToSlide(track, currentSlide);
            }
        });

        prevButtonProjects.addEventListener('click', () => {
            if (currentSlideProjects > 0) {
                currentSlideProjects--;
                moveToSlideProjects(trackProjects, currentSlideProjects);
            } else {
                currentSlideProjects = slidesProjects.length - 3;
                moveToSlideProjects(trackProjects, currentSlideProjects);
            }
        });

        // Handle window resize to adjust the slide width
        window.addEventListener('resize', () => {
            moveToSlide(track, currentSlide);
            moveToSlideProjects(trackProjects, currentSlideProjects);
        });

        const popup = document.getElementById("imagePopup");
        const popupImage = document.getElementById("popupImage");
        const zoomIcons = document.querySelectorAll(".zoom-icon");
        const closePopup = document.querySelector(".close-popup");

        // Show the popup when the zoom icon is clicked
        zoomIcons.forEach(zoomIcon => {
            zoomIcon.addEventListener("click", function () {
                popupImage.src = zoomIcon.getAttribute('url'); // Get the source of the image
                popup.style.display = "flex";
            });
        });

        // Close the popup when the close icon is clicked
        closePopup.addEventListener("click", function () {
            popup.style.display = "none";
        });

        // Close the popup if user clicks outside the image
        popup.addEventListener("click", function (event) {
            if (event.target !== popupImage) {
                popup.style.display = "none";
            }
        });


    </script>

    <script src="../static/main.js"></script>
</body>

</html>